<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Registration"
            android:exported="false" />
        <activity
            android:name=".BSCManual"
            android:exported="false"
       />
        <activity
            android:name=".BSCMcq"
            android:exported="false"
         />
        <activity
            android:name=".ElementsVideo"
            android:exported="false"
       />
        <activity
            android:name=".ElementsNotes"
            android:exported="false"
        />
        <activity
            android:name=".ApplMathsVideo"
            android:exported="false"
           />
        <activity
            android:name=".ApplMathsNotes"
            android:exported="false"
          />
        <activity
            android:name=".BELVideo"
            android:exported="false"
            />
        <activity
            android:name=".BELNotes"
            android:exported="false"
           />
        <activity
            android:name=".MathsVideo"
            android:exported="false"
        />
        <activity
            android:name=".MathsNotes"
            android:exported="false"
 />
        <activity
            android:name=".BSCVideo"
            android:exported="false"
     />
        <activity
            android:name=".BSCNotes"
            android:exported="false"
 />
        <activity
            android:name=".EnglishVideo"
            android:exported="false"
            />
        <activity
            android:name=".EnglishNotes"
            android:exported="false"
        />
        <activity
            android:name=".PCIVideo"
            android:exported="false"
  />
        <activity
            android:name=".PCINotes"
            android:exported="false"
            />
        <activity
            android:name=".MGMTMcq"
            android:exported="false"
            />
        <activity
            android:name=".MGMTVideo"
            android:exported="false"
      />
        <activity
            android:name=".MGMTNotes"
            android:exported="false"
           />
        <activity
            android:name=".ETIMcq"
            android:exported="false"
     />
        <activity
            android:name=".ETIVideo"
            android:exported="false"
 />
        <activity
            android:name=".ETINotes"
            android:exported="false"
  />
        <activity
            android:name=".NISVideo"
            android:exported="false"
 />
        <activity
            android:name=".NISNotes"
            android:exported="false"
          />
        <activity
            android:name=".PythonVideo"
            android:exported="false"
             />
        <activity
            android:name=".PythonNotes"
            android:exported="false"
        />
        <activity
            android:name=".MADVideo"
            android:exported="false"
       />
        <activity
            android:name=".MADNotes"
            android:exported="false"
  />
        <activity
            android:name=".DMSVideo"
            android:exported="false"
 />
        <activity
            android:name=".DMSNotes"
            android:exported="false"
           />
        <activity
            android:name=".OOPVideo"
            android:exported="false"
/>
        <activity
            android:name=".OOPNotes"
            android:exported="false"
   />
        <activity
            android:name=".CGRVideo"
            android:exported="false"
   />
        <activity
            android:name=".CGRNotes"
            android:exported="false"
            />
        <activity
            android:name=".DSUVideo"
            android:exported="false"
      />
        <activity
            android:name=".DSUNotes"
            android:exported="false"
        />
        <activity
            android:name=".DTEVideo"
            android:exported="false"
      />
        <activity
            android:name=".DTENotes"
            android:exported="false"
 />
        <activity
            android:name=".MICVideo"
            android:exported="false"
      />
        <activity
            android:name=".MICNotes"
            android:exported="false"
      />
        <activity
            android:name=".DCCVideo"
            android:exported="false"
 />
        <activity
            android:name=".DCCNotes"
            android:exported="false"
   />
        <activity
            android:name=".SENVideo"
            android:exported="false"
        />
        <activity
            android:name=".SENNotes"
            android:exported="false"
       />
        <activity
            android:name=".JAVAVideo"
            android:exported="false"
  />
        <activity
            android:name=".JAVANotes"
            android:exported="false"
  />
        <activity
            android:name=".ESTMcq"
            android:exported="false"
            />
        <activity
            android:name=".ESTVideo"
            android:exported="false"
      />
        <activity
            android:name=".ESTNotes"
            android:exported="false"
 />
        <activity
            android:name=".AJPMcq"
            android:exported="false"
     />
        <activity
            android:name=".AJPVideo"
            android:exported="false"
   />
        <activity
            android:name=".AJPNotes"
            android:exported="false"
    />
        <activity
            android:name=".STEVideo"
            android:exported="false"
           />
        <activity
            android:name=".STENotes"
            android:exported="false"
            />
        <activity
            android:name=".OSYVideo"
            android:exported="false"
 />
        <activity
            android:name=".OSYNotes"
            android:exported="false"
            />
        <activity
            android:name=".ACNVideo"
            android:exported="false"
           />
        <activity
            android:name=".ACNNotes"
            android:exported="false"
        />
        <activity
            android:name=".ETIMaterial"
            android:exported="false"
             />
        <activity
            android:name=".NISMaterial"
            android:exported="false"
             />
        <activity
            android:name=".PythonMaterial"
            android:exported="false"
          />
        <activity
            android:name=".MGMTMaterial"
            android:exported="false"
             />
        <activity
            android:name=".MADMaterial"
            android:exported="false"
          />
        <activity
            android:name=".ACNMaterial"
            android:exported="false"
            />
        <activity
            android:name=".STEMaterial"
            android:exported="false"
            />
        <activity
            android:name=".OSYMaterial"
            android:exported="false"
           />
        <activity
            android:name=".ESTMaterial"
            android:exported="false"
            />
        <activity
            android:name=".AJPMaterial"
            android:exported="false"
             />
        <activity
            android:name=".MICMaterial"
            android:exported="false"
            />
        <activity
            android:name=".DCCMaterial"
            android:exported="false"
            />
        <activity
            android:name=".SENMaterial"
            android:exported="false"
             />
        <activity
            android:name=".JPRMaterial"
            android:exported="false"
           />
        <activity
            android:name=".DTEMaterial"
            android:exported="false"
         />
        <activity
            android:name=".DMSMaterial"
            android:exported="false"
            />
        <activity
            android:name=".CGRMaterial"
            android:exported="false"
            />
        <activity
            android:name=".DSUMaterial"
            android:exported="false"
             />
        <activity
            android:name=".OOPMaterial"
            android:exported="false"
           />
        <activity
            android:name=".ElementsMaterial"
            android:exported="false"
             />
        <activity
            android:name=".ApplMathsMaterial"
            android:exported="false"
            />
        <activity
            android:name=".BasicElecMaterial"
            android:exported="false"
            />
        <activity
            android:name=".CMaterial"
            android:exported="false"
            />
        <activity
            android:name=".EngGraphicsMaterial"
            android:exported="false"
           />
        <activity
            android:name=".MathsMaterial"
            android:exported="false"
           />
        <activity
            android:name=".BasicScienceMaterial"
            android:exported="false"
             />
        <activity
            android:name=".EnglishMaterial"
            android:exported="false"
           />
        <activity
            android:name=".MainActivity7"
            android:exported="false"
            />
        <activity
            android:name=".MainActivity6"
            android:exported="false"
         />
        <activity
            android:name=".MainActivity4"
            android:exported="false"
             />
        <activity
            android:name=".MainActivity5"
            android:exported="false"
             />
        <activity
            android:name=".MainActivity3"
            android:exported="false"
           />
        <activity
            android:name=".MainActivity2"
            android:exported="false"
           />
        <activity
            android:name=".login"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>